<div class="loader" *ngIf="isLoading"></div>
<div id="main" *ngIf="currentSong" (scroll)="onScroll($event)" #main>
  <div class="div">
    <p class="song-name">{{currentSong?.position}}. {{currentSong.title}} </p>
    <p class="artist-name"> {{currentSong?.artists_names}}</p>
    <div class='img' #img *ngIf="currentSong?.thumbnail">
      <img [src]="imgLink" alt="">
    </div>
  </div>
  <!-- time -->
  <div class="nav" #nav>
    <div id="audio-player-container">
      <p id="current-time" class="time">{{currentTime}}</p>
      <input type="range" id="seek-slider" [max]="currentSong.duration" value="0" [(ngModel)]="curentSeconds"
        (change)="onChangeInput()">
      <p id="duration" class="time">{{duration}}</p>
    </div>
    <div class="controls-button">
      <button (click)="firstSong()">
        <i class="fas fa-undo icon btn-start"></i>
        <!-- <i class="fas fa-step-backward icon btn-start"></i> -->
      </button>
      <button (click)="previousSong()">
        <i class="fas fa-caret-left icon btn-next"></i>
      </button>
      <button (click)="toggle()" *ngIf="isPlaying">
        <i class="fas fa-pause-circle icon btn-pause"></i>
      </button>
      <button (click)="toggle()" *ngIf="!isPlaying">
        <i class="fas fa-play-circle icon btn-play"></i>
      </button>
      <button (click)="nextSong()">
        <i class="fas fa-caret-right icon btn-next"></i>
      </button>
      <button (click)="lastSong()">
        <i class="fas fa-step-forward  icon btn-end"></i>
      </button>
    </div>
    <ul class="list-songs" (click)="toggleList()" #listSong>Danh sách bài hát
      <li *ngFor="let song of listMusics" (click)="changeSongFromList(song.position)">
        <h6>{{song.position}}. {{song.name}}</h6>
        <p>{{song.artists_names}}</p>
      </li>
    </ul>
  </div>
  <audio controls *ngIf="musicLink" #audioOption (ended)="nextSong()">
    <source [src]="musicLink" type="audio/mpeg">
  </audio>
</div>